# secrets
/.npmrc

# compiled output
/node_modules
**/node_modules
packages/*/dist
packages/*/build
packages-*/*/build
/support/docker/data
/reports
/debug
*.cache.json
*.tsbuildinfo
junit.xml
*.log
*audit.json
graphify-out

# environment variables
.env
.dev.env
env-dev.ts
.claude

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*storybook.log
storybook-static
